@{
    ViewData["Title"] = "Tic-Tac-Toe";
}
@model TicTacToe.Web.CurrentGameWebEntity
<script>
    function toggle(id) {
        var elems = document.getElementsByClassName('radio-tile');
        for (let i = 0; i < elems.length; i++) {
            elems[i].innerHTML = "";
        }
        document.getElementById(id).innerHTML = "X";
        document.getElementById('action').value = id;
    }
</script>
@section Scripts {
    <script>
        toggle(1000);
    </script>
}

<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full field-grid">
    <div class="grid grid-cols-3 gap-4 text-center">
        @for (int i = 0; i < CurrentGameWebEntity.size; i++) {
                @for (int j = 0; j < CurrentGameWebEntity.size; j++) {
                    var id = i * 100 + j;
                    if (Model.gameBoard.field[i,j] == CurrentGameWebEntity.player) {
                        <div class="square bg-gray-200">X</div>
                    } else if (Model.gameBoard.field[i,j] == CurrentGameWebEntity.opponent) {
                        <div class="square bg-gray-200">O</div>
                    } else {
                        <div class="input-container">
                            <input type="radio" name="fieldBox" class="btn-radio" value="@id" onclick="toggle(this.value)"/>
                            <div class="radio-tile square bg-gray-200" id="@id"></div>
                        </div>
                    }
                }
            }
    </div>
    <form action="" method="post" class="text-center">
        @if (Model.isOver) {
            if (Model.winner == CurrentGameWebEntity.player) {
                <div class="winner">You won!</div>
            } else if (Model.winner == CurrentGameWebEntity.opponent) {
                <div class="winner">You lost!</div>
            } else {
                <div class="winner">It's a tie!</div>
            }
            <button class="field btn-new btn-next" asp-controller="Game" asp-action="NewGame">Restart</button>
        } else {
            <input type="hidden" name="action" id="action" value=""/>
            <input type="hidden" name="uuid" id="uuid" value="@Model.uuid"/>
            <input type="hidden" name="gameBoard" id="gameBoard" value="@Model.gameBoard"/>
            <button class="field btn-new btn-next" name="next" value="Next">Next</button>
        }
    </form>
</div>
