@{
    ViewData["Title"] = "Tic-Tac-Toe";
}

<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full field-grid">
    <form action="" method="" class="text-center">
        <p class="header">TicTacToe</p>
        <button class="field btn-new" asp-asp-controller="Game" asp-action="NewGame">New Game</button>
    </form>
</div>