@{
    ViewData["Title"] = "Tic-Tac-Toe";
}
@model TicTacToe.Web.Models.UserDAO

<div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full field-grid">
    <form action="" method="" class="text-center">
        <p class="header mb-4">TicTacToe</p>
        <div class="user-btns">
            <a href="/game/new-solo" class="btn-new mt-1 w-50">Solo</a>
            <a href="/game/new-multi" class="btn-new mt-1 w-50">PVP</a>
        </div>
        <div class="user-btns">
            <a href="/game/history" class="btn-new mt-1 w-50">History</a>
            <a href="/game/leaders/5" class="btn-new mt-1 w-50">Leaders</a>
        </div>
        <a href="/game/all" class="btn-new d-block mt-1">Available Games</a>
        <a href="/game/user" class="btn-new d-block mt-1">Profile</a>
    </form>
</div>